---
layout: base
---
<header>
    {% include 'navPrimary' %}
    <h1>Welcome</h1>
</header>
<main>
    {% if collections.secondary %}
    <aside>
        {% include 'navSecondary' %}
    </aside>
    {% endif %}
    <section aria-labelledby="{{ title | remove: ' ' }}">
        <h2 id="{{ title | remove: ' ' }}">{{ title }}</h2>
        {% if description %}<p><strong>{{ description }}</strong></p>{% endif %}
        {{ content }}
    </section>
</main>
<footer>
    {% if collections.footer %}
    {% include 'navFooter' %}
    {% endif %}
    {% include 'copyright' %}
</footer>